/* Reset de margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móveis aqui */
}

.container {
  width: 90%; /* 90% da largura do elemento pai */
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #c7c7bfc5; /* Azul escuro */
  
}

header {
  background-color: black;
  color: gold;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

/* Efeito de brilho no hover */
header:hover {
  background-color: gold;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}


.Titulo-destaque{
  color: gold;
  animation: text 10s ease alternate infinite;
}


.apresentacao{
  margin: 8% 12%;
  display: flex;
  align-items: left;
  justify-content: space-between;

}



.apresentacao__conteudo{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao__conteudo__titulo{
  font-size:36px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apresentacao__conteudo__texto{
  font-size:16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apresentacao__links{
  display: flex;
  justify-content: space-between;
}



.capa img { 
  max-width: 100%;
  max-height: 80%;
  border-radius: 10px; 
  text-align: right;
  filter: drop-shadow(10px 0  30px #fff562);
  margin: 1% 12%;
}

.preletores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  text-align: center;
}

.preletores div {
  width: calc(20% - 20px);
  margin-bottom: 20px;
}

.preletores img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.preletores p {
  color: rgb(26, 23, 12);
  text-align: center;
}


#dia1, #dia2, #dia3 {
  width: 350px;
  height: 350px;
  background-color: gold; /* Cor de fundo azul escuro */
  color: black; /* Cor do texto branco */
  border-radius: 10px; /* Borda arredondada */
  padding: 50px; /* Espaçamento interno */
  display: inline-block;
  margin: 47px; /* Centralizar horizontalmente */
}

h3{
  text-align: center;
  padding:1px;
}

h2{
  margin-bottom: 20px;
  text-align: center;
  margin: 2%;
}

.container {
  text-align: center;
  padding: 30px;
  margin: 6%;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  margin: 2%;
}

.accordion{
  width: 60%;
  margin: 0 auto 10px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.accordion-header{
  color: black;
  padding: 10px 20px;
  text-align: center;
  outline: none;
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
  margin:50;
}

.accordion-header span{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.accordion-body{
  color: black;
  font-size: 14px;
  padding: 10px 20px;
  opacity: 0;
  height: 0;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordion-body.active{
      height: 100%;
      opacity: 1;
}





.arrow {
  float: right;
  transform: rotate(90deg);
}

.open {
  transform: rotate(-90deg);
}

.show {
  display: block;
}
/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

#formulario {
  text-align: center; /* Alinhar conteúdo ao centro */
}

.form-group {
  margin-bottom: 20px; /* Espaçamento entre grupos de campos */
}

label {
  display: block; /* Colocar cada rótulo em uma nova linha */
  margin-bottom: 5px; /* Espaçamento abaixo de cada rótulo */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 50%; /* Preencher toda a largura do contêiner */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 10px; /* Espaçamento abaixo do campo */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px; /* Borda arredondada */
  box-sizing: border-box; /* Incluir padding e border na largura total */
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
}

button[type="submit"] {
  background-color: black; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  padding: 20px 20px; /* Espaçamento interno */
  border: none; /* Remover borda */
  border-radius: 10px; /* Borda arredondada */
  cursor: pointer; /* Alterar cursor ao passar por cima */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button[type="submit"]:hover {
  background-color: #e7eb17; /* Alterar cor de fundo ao passar por cima */
}




.faq-container{
  max-width: 800px;
  margin: 0 auto;
  padding:20px;
}

.faq-container h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
}

.faq-item {
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  color: gold;
  cursor: pointer;
  margin-bottom: 10px;
}

.answer {
  font-size: 18px;
  color: #0e0d0d;
  display: none;
}

.answer p {
  margin-bottom: 10px;
}

.faq-item:nth-child(odd) .answer {
  display: block;
}

.section-com-imagem {
  background-image: url('./images/53249553573_91861bf1b1_o.jpg');
  background-size: cover; /* Para cobrir toda a área da seção */
  background-position: center; /* Para centralizar a imagem */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
  background-color: rgba(255, 255, 255, 0);
  transition: 1,5s;
}

.social-links {
  text-align: center;
  margin-top: 50px;
}

.social-link {
  display: inline-block;
  margin: 0 20px;
}

.social-link img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position:static;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
